*{
    margin: 0ex;
    padding: 0ex;
    font-family: 'serif bold';

}
body{
    background: url(glass.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar li{
    
    float: left;
    list-style: none;
    margin: 14px 70px;
    }
.navbar li a{
    
    border-color: rgb(93, 105, 110);
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: grey;
    outline: none;
    transition: .5s;
    border-radius: 10px;
    position: absolute;
    
}
.navbar li a:hover{
    color: white;
    background: grey;
    border-radius: 10px;
    padding: 10px;
}
#join{
    color: grey;
    right: 30px;
    top: 6px;
    text-decoration: none;
    position: absolute;
    padding: 5px;
    margin: 0px;
    outline: none;
    transition: .5s;
    border-radius: 10px;
    

   



}
#join:hover{
    color: white;
    background: grey;
    border-radius: 10px;
    padding: 10px;
    
}
#logo img{
    width: 200px;   
    padding: 15px;
    margin: -87px; 
    margin-left: -127px;
}
h1{
    margin: 0 0 10px;
    padding: 0px;
    color: grey;
    font-size: 24px;

}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;

}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="text"]{
    background: white;
    width: 340px;
    height: 50px;
    border: 2px solid gray;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;

}
input[type="submit"]{
    color: honeydew;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width:  140px;
    outline: none;
    border: 2px solid gray;
    margin-left: -6px;
    background: gray;
    cursor: pointer;
}
input[type="submit"]:hover{
    color: grey;
    background: honeydew;
}