body{
    background-color: forestgreen;
    
}

ul{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;
}

ul li{
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: black;
    transform: rotate(45deg);
}
ul li.item-1{
    top: 0;
    left: 0;
    
}
ul li.item-2{
    bottom: 0;
    left: 25%;

}
ul li.item-3{
    top: 0;
    left: 50%;
    
}
ul li.item-4{
    bottom: 0;
    left: 75%;

}
ul li.item-5{
    top: 0;
    left: 100%;
    
}
ul li.item-6{
    bottom: 0;
    left: 125%;

}
ul li.item-7{
    top: 0;
    left: 150%;
    
}
